body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

* {
	box-sizing: border-box;
}

*:hover {
	border: 1px solid red;
}

/* Page structure */
.flexible {
	display: flex;
	width: 100%;
	height: 100%;
}

.flexible.entire-site,
.flexible.task-section,
.flexible.charts {
	flex-direction: column;
}

.side-nav {
	width: 20%;
}

.flexible.main-body {
	justify-content: space-evenly;
	align-items: center;
}

.flexible.task-section {
	width: 50%;
}

.flexible.charts {
	width: 40%;
}

.flexible.task-section,
.flexible.charts {
	height: 90%;
}
