body {
	height: 100vh;
	font-family: "Poppins";
	letter-spacing: 0.01em;
}

.my-col.big-col {
	height: 90%;
}

.my-col.small-col {
	height: 45%;
}

.flexible {
	display: flex;
}

.my-container {
	height: 100%;
}

.my-nav {
}

.my-row {
	height: 100vh;
}

.my-row.small {
	height: 50%;
}

.my-col {
	background-color: white;
	padding: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
}

.main-body {
	background-color: #e5e5e5;
}

.search-bar {
	height: 60px;
	background-color: white;
	/* changes to 4 for small */
}

.bottom-divider {
	margin: 0;
	border-bottom: 1px solid #ebeff2;
	width: 100%;
}

.task-bar {
	width: 100%;
	padding: 16px 24px;
}

.section-title {
	color: #192a3e;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.01em;
	margin: 16px 0;
}

.number-completed,
.day-of-week,
.date {
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
}

.number-completed {
	color: #334d6e;
}

.show-time {
	position: absolute;
	right: 36px;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.show {
	color: #6a707e;
}

.time {
	color: #109cf1;
}

.number-completed,
.show-time
/*.whole-date*/ {
	display: inline-block;
}

.color-bar {
	position: relative;
	margin: 4px 0;
}

.progress-bar.lower {
	position: absolute;
}

.progress-bar.overlay {
	position: absolute;
}

.calendar.flexible {
	max-width: 100%;
	text-align: center;
	justify-content: space-evenly;
	flex-shrink: 0;
}

.whole-date {
	margin: 0 30px;
	min-width: 0;
}

.day-of-week {
	color: #334d6e;
	opacity: 0.5;
}

.date {
	color: #4c5862;
}

.whole-date.sun {
	margin-left: 0;
}

.whole-date.sat {
	margin-right: 0;
}

.flexible.tasks {
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	height: 75%;
}

.task {
	width: 95%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	height: 32%;
}

@media (max-width: 576px) {
	.my-nav {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.my-nav {
		height: 50px;
	}
}
